%%-*- mode: erlang -*-
%%{lib_dirs, ["apps/*"]}.
{sub_dirs, ["apps/m_etp_avro","apps/m_etp_server","apps/m_etp_store"]}.

{deps, [
{lager, ".*", {git, "git://github.com/basho/lager.git", "master"}},
{cowboy, ".*", {git, "git://github.com/extend/cowboy", "1.0.x"}},
{jiffy, ".*", {git, "git://github.com/davisp/jiffy", "HEAD"}},
{ej, ".*", {git, "https://github.com/seth/ej.git", "HEAD"}},
{poolboy, ".*", {git, "git://github.com/devinus/poolboy", "HEAD"}},
{cowlib, ".*", {git, "git://github.com/ninenines/cowlib.git", "1.0.0"}},
{erlpass, ".*", {git, "git://github.com/ferd/erlpass.git", "HEAD"}},
{eavro, ".*", {git, "git://github.com/magsv/eavro.git", "HEAD"}},
{uuid, ".*", {git, "git://github.com/travis/erlang-uuid", "HEAD"}},
{gproc, ".*", {git, "git://github.com/uwiger/gproc.git", "HEAD"}}

	
        
        
        ]}.
{clean_files, ["apps/*/ebin/*"]}.

        {erl_opts, [{parse_transform, lager_transform}]}.

