[
{m_etp_store,
    [
		
		{m_etp_session_pool_config,

			[
		  		 {pool_cnfg,
		  		 	[
				  		{size, 6},
			            {max_overflow, 10}
			            
		            ]
		         },
		         {worker_args,
		         	[
		         	  {}
		         	]
		         }
	        ]
		
		},
		{m_etp_protocol_pool_config,

			[
		  		 {pool_cnfg,
		  		 	[
				  		{size, 6},
			            {max_overflow, 10}
			            
		            ]
		         },
		         {worker_args,
		         	[
		         	  {}
		         	]
		         }
	        ]
		
		}
	]
}
].