[
{lager, [
  {handlers, [
    {lager_console_backend, debug}
  ]}
]},

{m_etp_server,
  [
	{m_etp_server_config,
		[
			{port,8080}
		]
	}
 ]
},
{m_etp_avro,
    [
		{m_etp_avro_codec_pool,
			[
		  		 {pool_cnfg,
		  		 	[
				  		{size, 6},
			            {max_overflow, 10}
			            
		            ]
		         },
		         {worker_args,
		         	[
		         	  {}
		         	]
		         }
	        ]
		}
	]
},
{m_etp_store,
    [
		{m_etp_session_timeout_server,
			[
			    {worker_args,
			    [
					{session_timeout,1000},
			        {session_clean_after,30000}
				]
				}
			]
		},
		{m_etp_session_data_pool_config,

			[
		  		 {pool_cnfg,
		  		 	[
				  		{size, 6},
			            {max_overflow, 10}
			            
		            ]
		         },
		         {worker_args,
		         	[
		         	  {}
		         	]
		         }
	        ]
		
		},
		{m_etp_session_pool_config,

			[
		  		 {pool_cnfg,
		  		 	[
				  		{size, 6},
			            {max_overflow, 10}
			            
		            ]
		         },
		         {worker_args,
		         	[
		         	  {}
		         	]
		         }
	        ]
		
		},
		{m_etp_protocol_pool_config,

			[
		  		 {pool_cnfg,
		  		 	[
				  		{size, 6},
			            {max_overflow, 10}
			            
		            ]
		         },
		         {worker_args,
		         	[
		         	  {}
		         	]
		         }
	        ]
		
		}
	]
}
].